- publish_to "/messages/conversation_#{@conversation.id}" do
  | $(".messages_container").append("#{ j render partial: 'message', locals: { message: @message } }");
| $('.conversation_area').val('');
| $('#show-scrolling')[0].scrollTop = $('#show-scrolling')[0].scrollHeight;
| $("#section-flash").prepend("#{ escape_javascript(bootstrap_flash) }");
| $("#send_message_popup").modal('hide');