| $('#post_message').val('');
| $("#reply_section_#{@post.id}").append("#{ j(render partial: 'posts/reply', locals: { reply: @reply }) }");
| $(".comment##{@post.id}").popover('hide');
| $(".comment##{@post.id} span.label-info").html("#{@post.replies.size}");
