/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.fileupload-ui
 */
@import "header.css";

body { font-size: 12px; }
ul { list-style: none; margin: 0;}
a { text-decoration: none; color: #040404; }
a:hover { text-decoration: none; }
.container-fluid { width: 1100px; margin: 0 auto; }
.my-nav { padding-top: 10px; padding-bottom: 10px; }

.main {
  margin-top: 50px;
}

.scrolling {
  height: 500px;
  overflow-y: auto;
  p { font-size: 12px; color: #000000; margin: 0;}
  p.online { color: #62c462; }
  p.offline { color: #e9322d; }
}
.message {
  display: block;
  padding: 10px;
}

.message:hover {
  text-decoration: none; background-color: #d4d4d4;
}


.full-area {
  width: 95%;
  height: 50px;
}


#gallery {
  width: 728px;
  overflow: hidden;
  margin: 0 auto;
  background: #f8f8f8;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
}
#gallery a {
  display: block;
  float: left;
  color: #fff;
  width: 150px;
  height: 150px;
  margin: 8px;
  padding: 4px;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
}

