ul {
  list-style: none;
}

.container-fluid {
    width: 1200px;
    margin: 0 auto;
    .top {
      background-color: #0044cc;
      border: 1px solid #cccccc;
      padding: 10px 5px 5px 5px;
      .span3:first-child { color: #ffffff; font-size: 48px; font-style: oblique; font-weight: bolder; }
      .span1 { font-size: 15px; a { color: #ffffff; } }
    }
    .main {
      border: 1px solid #cccccc;
      background-color: #5bc0de;
      .span2 { padding: 10px; }
      .span8 { padding: 10px; border: 1px solid #cccccc; }
    }
    .users_search {
      ul {
        list-style: none;
        li { color: #ffffff; font-size: 22px; }
      }
    }
}

.message {
  border: 2px solid #0044cc;
}