/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.fileupload-ui
 */
@import "header.css";

body { font-size: 12px; }
ul { list-style: none; margin: 0; }
.container-fluid { width: 900px; margin: 0 auto; }
textarea { width: 100%; height: 70px; resize: none;}
.my-nav { padding: 5px; }
.time { font-size: 10px; color: #a2a2a2; }
p { font-size: 12px; color: #000000; margin: 0;}
p.online { color: #62c462; }
p.offline { color: #e9322d; }

.main {
  margin-top: 50px;
  margin-bottom: 80px;
}

.scrolling {
  max-height: 400px;
  overflow-y: auto;
}

.poster { background: white; }
.poster_message { padding: 10px; border: 1px solid #c5c5c5; }
.poster_message:hover .close { display: block; }
.close { display: none; }
.messages { padding: 10px; }
.message { display: block; height: 100%; }
.messages:hover { background: #cccccc; }
.messages:hover .close { display: block; }
.messages_no { padding: 10px; min-height: 40px; }

