.fl
{
    float:left;
}

.fr
{
    float: right;
}
.clear { clear: both; line-height: 0px !important; font-size: 0px !important; height: 0 !important }

body {
    background: #FFFFFF;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    margin: 10px;
}


a
{
    color:   #555555;
    font-weight: bold;
}

b
{
    color:   #555555;
    font-weight: bold;
}

.duration
{
    font-size:10px;
    color:#777;
}

.btns.play
{
    width:16px;
    height:17px;
    background-image: url(i/play.gif);
    display: inline-block;
}

.btns.pause
{
    width:16px;
    height:17px;
    background-image: url(i/pause.gif?2);
}

.btns.paused
{
    width:16px;
    height:17px;
    background-image: url(i/play.gif?3);
    display: inline-block;
}


div.player
{
    width:380px;
    height:14px;
    margin-top:5px;
    padding-left:20px;
}

div.player.inactive
{
    margin-top:5px;
    margin-bottom:0px;
    border-top: dashed 1px #555555;
}

.item .title
{
    -vertical-align:middle;
}

.item .btns
{
    display:inline;
    float:left;
    margin-right:5px;
    cursor:pointer;
}