.header {
  background-color: #212121;
  a { color: #ffffff; }
  margin-bottom: 20px;
  padding: 10px;
  form { margin: 0; }
  .container-fluid {
    p { color: #ffffff; font-size: 48px; font-style: oblique; font-weight: bolder; }
    .span1 { font-size: 15px; a { color: #ffffff; } }
    .main {
      border: 1px solid #808080;
    }
    .users_search {
      ul {
        list-style: none;
        li { font-size: 22px; }
      }
    }
  }
}