body {
	background: url('2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#logdiv{
    position: absolute;
    width: 200px;
    height: 100px;
    margin:640px 0 0 180px;
    padding: 50px;
}

#remember_label {
    color: #a9a9a9;
}

input[type='email'], input[type='password']{
    width:200px;
    height:30px;
    font-size:18px;
    background: none;
    border-radius: 10px;
    opacity: 0.5;
    outline: none;
}

input[type='submit'] {
    width: 99px;
    height: 99px;
    border-radius: 50%;
    background: url('2.jpg');
    background-position: -972px -853px;
    border: none;
    margin-left: 150px;
    color: #a9a9a9;
}


