body {
    background: #7dcbff;
}

a {
    text-decoration: none;
}

#logdiv{
    width: 200px;
    height: 100px;
    margin: 0 0 0 600px;
    padding: 50px;
    float: left;
}

.mlogo {
    margin: 100px;
    float: left;
}

.style_new_sessions {
    color: #ffffff;
}

input[type='email'], input[type='password']{
    width:250px;
    height:40px;
    font-size:26px;
    border-radius: 10px;
    outline: none;
}

input[type='submit'] {
    width: 100px;
    height: 30px;
    border-radius: 5px;

}

#sign_up {

}


