body {
    background: #7dcbff;
}

a {
    text-decoration: none;
}

#logdiv{
    padding: 50px;
    width: 250px;
    height: 150px;
    position: absolute;
    margin: 300px 500px;
}

.mlogo {
    position: absolute;
    margin: 100px;
}

.style_new_sessions {
    color: #ffffff;
}

input[type='email'], input[type='password']{
    width:250px;
    height:40px;
    font-size:26px;
    border-radius: 10px;
    outline: none;
}

input[type='submit'] {
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

#sign_up {
    font-size: 36px;
    margin-right: 50px;
    float: right;
}


